<footer>
    <div class="container">
        <div class="d-flex flex-column justify-content-center text-center">
            <a target="_blank" href="https://www.lays.com/"><%= image_tag "logo.svg", width: "106", height: "100", class: "logo" %></a>
            <ul class="social-links d-flex justify-content-center align-items-center">
                <li>
                    <a target="_blank" href="https://www.facebook.com/lays/" title="Facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12.001" height="24" viewBox="0 0 12.001 24">
                            <path id="Icon_Facebook" d="M16,3.985h2.191V.169A28.292,28.292,0,0,0,15,0C11.837,0,9.673,1.987,9.673,5.639V9H6.187v4.266H9.673V24h4.274V13.267h3.345L17.823,9H13.946V6.062c0-1.233.333-2.077,2.051-2.077Z" transform="translate(-6.187)" fill="currentColor"/>
                        </svg>                                                                 
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/lays/" title="Instagram">
                        <svg id="Icon_Instagram" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path id="Path_7" data-name="Path 7" d="M23.928,7.053A8.81,8.81,0,0,0,23.37,4.14a5.881,5.881,0,0,0-1.384-2.126A5.883,5.883,0,0,0,19.861.63,8.808,8.808,0,0,0,16.948.073C15.668.014,15.259,0,12,0S8.332.014,7.053.072A8.811,8.811,0,0,0,4.14.63,5.881,5.881,0,0,0,2.014,2.014,5.882,5.882,0,0,0,.63,4.139,8.809,8.809,0,0,0,.073,7.052C.014,8.332,0,8.741,0,12s.014,3.668.073,4.948A8.808,8.808,0,0,0,.63,19.861a5.881,5.881,0,0,0,1.384,2.125A5.88,5.88,0,0,0,4.14,23.37a8.805,8.805,0,0,0,2.913.558C8.333,23.986,8.741,24,12,24s3.668-.014,4.948-.072a8.806,8.806,0,0,0,2.913-.558,6.135,6.135,0,0,0,3.509-3.509,8.807,8.807,0,0,0,.558-2.913C23.986,15.668,24,15.259,24,12S23.986,8.332,23.928,7.053Zm-2.16,9.8a6.639,6.639,0,0,1-.413,2.228,3.974,3.974,0,0,1-2.277,2.277,6.639,6.639,0,0,1-2.228.413c-1.265.058-1.645.07-4.849.07s-3.584-.012-4.849-.07a6.642,6.642,0,0,1-2.228-.413,3.719,3.719,0,0,1-1.38-.9,3.717,3.717,0,0,1-.9-1.38,6.639,6.639,0,0,1-.413-2.228c-.058-1.265-.07-1.645-.07-4.849s.012-3.584.07-4.849a6.644,6.644,0,0,1,.413-2.228,3.72,3.72,0,0,1,.9-1.38,3.715,3.715,0,0,1,1.38-.9,6.638,6.638,0,0,1,2.228-.413C8.416,2.174,8.8,2.162,12,2.162h0c3.2,0,3.584.012,4.849.07a6.641,6.641,0,0,1,2.228.413,3.721,3.721,0,0,1,1.38.9,3.715,3.715,0,0,1,.9,1.38,6.633,6.633,0,0,1,.413,2.228c.058,1.265.07,1.645.07,4.849S21.826,15.584,21.768,16.849Zm0,0" fill="currentColor"/>
                            <path id="Path_8" data-name="Path 8" d="M130.7,124.539a6.162,6.162,0,1,0,6.162,6.162A6.162,6.162,0,0,0,130.7,124.539Zm0,10.162a4,4,0,1,1,4-4A4,4,0,0,1,130.7,134.7Zm0,0" transform="translate(-118.701 -118.701)" fill="currentColor"/>
                            <path id="Path_9" data-name="Path 9" d="M364.81,90.065a1.44,1.44,0,1,1-1.44-1.44A1.44,1.44,0,0,1,364.81,90.065Zm0,0" transform="translate(-344.964 -84.471)" fill="currentColor"/>
                        </svg>                                                                                       
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/lays/" title="Twitter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22.484" viewBox="0 0 22 22.484">
                            <path id="XlogoB" d="M13.094,9.52,21.283,0H19.342L12.23,8.266,6.55,0H0L8.589,12.5,0,22.484H1.941l7.509-8.73,6,8.73H22L13.094,9.52ZM10.435,12.61l-.871-1.245L2.64,1.461H5.621l5.588,7.993L12.08,10.7l7.264,10.389H16.362L10.435,12.61Z" fill="currentColor"/>
                        </svg>                                                                                      
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.youtube.com/user/lays" title="Youtube">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.396" height="24" viewBox="0 0 34.396 24">
                            <path id="youtube" d="M7.048,23.779a22.256,22.256,0,0,1-2.708-.3A4.321,4.321,0,0,1,.55,19.617,42.823,42.823,0,0,1,.026,10.99C.092,8.957.288,6.926.49,4.9A5.972,5.972,0,0,1,1,3,4.087,4.087,0,0,1,4.511.544c2.4-.214,4.8-.431,7.2-.481q5.487-.121,10.98,0c2.368.05,4.742.217,7.095.479A4.291,4.291,0,0,1,33.845,4.5a42.855,42.855,0,0,1,.519,8.629c-.066,2.011-.28,4.016-.446,6.022a5.851,5.851,0,0,1-.244,1.209A4.139,4.139,0,0,1,29.9,23.494c-2.288.239-4.585.4-6.883.486-1.945.078-12.595-.055-15.968-.2ZM13.7,6.957V17.138l8.969-5.089C19.658,10.338,16.7,8.66,13.7,6.957Z" transform="translate(0.002 -0.004)" fill="currentColor"/>
                        </svg>                                                                                       
                    </a>
                </li>
            </ul>
            <ul class="page-links d-flex flex-wrap justify-content-center mx-auto">
                <li><a href="javascript:;" title="Official Rules" data-target="officialRulesModal" class="modal-toggle">Official Rules</a></li>
                <li><a target="_blank" href="https://contact.pepsico.com/fritolay/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
                <li><a target="_blank" href="https://contact.pepsico.com/fritolay" title="Contact Us">Contact Us</a></li>
                <li><a target="_blank" href="https://contact.pepsico.com/fritolay/about-our-ads" title="About Our Ads">About Our Ads</a></li>
                <li class="border-right"><a target="_blank" href="https://contact.pepsico.com/fritolay/about-us" title="About Us">About Us</a></li>
                <li class="border-right-1 border-right-0"><a target="_blank" href="https://contact.pepsico.com/fritolay/terms-conditions" title="Terms of Use">Terms of Use</a></li>
                <li><a target="_blank" href="https://www.pepsico.com/legal/accessibility-statement" title="Website Accessibility Statement">Website Accessibility Statement</a></li>
                <li class="border-right-0"><a id="teconsent" href="javascript:;" title="Cookie Preferences"></a></li>
            </ul>
            <p>NO PURCHASE NECESSARY. PURCHASE WILL NOT INCREASE YOUR CHANCE TO WIN. Data rates may apply. Open to legal US residents residing in one of the 50 US/DC, 18 or older (19 or older for AL & NE) with a valid US government issued photo ID at the time of entry. Void were prohibited. Begins at 12:00:00 p.m. CT on 8/12/24 & ends at 11:59:59 p.m. CT on 9/28/24. See <a href="javascript:;" title="Official Rules" data-target="officialRulesModal" class="modal-toggle">Official Rules</a> available on this site for complete details & free entry. Limit one entry per day per person/email address. Subject to <a href="javascript:;" title="Official Rules" data-target="officialRulesModal" class="modal-toggle">Official Rules</a>. Sponsor: Frito-Lay, Inc., 7701 Legacy Drive, Plano, TX 75024.</p>
            <p>© 2024 Frito-Lay North America, Inc.</p>
        </div>
    </div>
</footer>
<div id="consent_blackbar" style="position: fixed; bottom: 0; width: 100%; margin: 0 auto;"></div>